# Folders
_build/
rebar3_run/
node_modules/

# Extensions
*.lock
*.crashdump
*.beam
*.dump

# Files
package-lock.json
car/priv/
car/jiffy.app
car/environment.json
web_service/environment.json
web_service/client/environment.json 
web_service/client/views/simulation-view/environment.json 
web_service/client/views/log-view/environment.json 
web_service/test/tmp
jiffy/
logs/
*.so

web_service/rebar3

credentials/credentials\.json
