#container{
    margin: 5%;
}


iframe{
    width:100%;
    height: 60vh;
}


.col-input{
    margin-left: 15px;
    margin-right: 15px;
}


.vspace{
    margin-top: 5px;
    margin-bottom: 5px;
}


.vspace-10{
    margin-top: 5px;
    margin-bottom: 5px;
}


.vspace-20{
    margin-top: 5px;
    margin-bottom: 5px;
}


.full-width{
	width: 100%
}


.center{
    text-align: center;
}

/*
* Small devices
*/
@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	#right-panel {
	  	display: none;
  	}
    
    #left-panel {
		display: none;
	}

	#small-left-panel{
		display: block;
	}

	.vspace-10{
		margin-bottom: 10px;
	}

	.vspace-20{
		margin-bottom: 0px;
	}
}


/*
* Large devices
*/
@media not screen and (max-width: 40em)  {
	#right-panel {
		display: block;
    }
    
    #left-panel {
		display: block;
	}

	#small-left-panel{
		display: none;
	}

	.vspace-10{
		margin-bottom: 5px;
	}

	.vspace-20{
		margin-bottom: 20px;
	}
}